<div class="wrapper">
    <ul #autoScroll class="chat" (scroll)="onScrollEvent($event)">
        <li *ngFor="let message of messages">
            <span>{{message.time + ' '}}</span>
            <span *ngIf="message.text === ''">{{message.message?.tags?.displayUsername + ' '}}</span>
            <span *ngIf="message.text">{{message.messageType + ' '}}</span>
            <span *ngIf="message.text">{{message.text}}</span>
            <span *ngIf="message.text === ''">{{message.message?.rawParameters}}</span>
        </li>
    </ul>
    <button class="button" type="button" (click)="scrollToBottomClick()">Scroll to bottom</button>
</div>
